<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
            Agrupar
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
            <label class="switch">
                <input type="checkbox" ng-model="cluster.cluster"><i></i>
            </label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
            Todos (excl. Neumáticos)
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
            <label class="switch">
                <input type="checkbox" ng-model="allSelected" ng-change="toggleAllSelected()"><i></i>
            </label>
        </div>
    </div>
    <hr>
    <categories></categories>
</div>